<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Image Classifier Web App Workshop </title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
  </head>

  <body>

    <!-- title  -->
    <div class="text">
      <h1> Speech Recognition in Python </h1>
    </div>   

    <div id="speechContainer">
        <h1>Upload new File</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file"/>
            <br>
            <input type="submit" id="submitButton" value="Transcribe"/>
        </form>
    
        {% if transcript != "" %}
            <div id="speechTranscriptContainer">
                <h1>Transcript</h1>
                <p id="speechText">{{ transcript }}</p>
            </div>
        {% endif %}
    </div>
    
  </body>
</html>

